form .error {
	color: #A94442
}

body {
	color: black;
	background-color: #f1f1f1;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	transition: all .25s;
}

a:hover {
	text-decoration: none;
}

.navbar {
	background: #404142;
}

list-group {
	background-color: #5B717F;
}

main {
	min-height: 450px;
}